<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="adress">Adress</label>
        <input type="text" id="adress" name="adress" required>
    </div>
    <div>
        <label for="phone">Enter your phone number:</label>
        <input type="tel" id="phone" name="phone">
    </div>
    <div>
        <input type="checkbox" id="izolat" name="izolat" value="izolat">
        <label for="izolare"> Sunt izolat</label>
    </div>
    <div>
        <input type="checkbox" id="nuIzolat" name="nuIzolat" value="nuIzolat">
        <label for="izolare"> Nu sunt izolat</label><br>
    </div>
    <div>
        <label for="adress">Distanta maxima</label>
        <input type="text" id="distanta" name="distanta" required>
    </div>
    <div>
        <label for="appt">Ora de incepere</label>
        <input type="time" id="appt" name="appt">
    </div>
    <div>
        <label for="appt">Ora de final</label>
        <input type="time" id="appt" name="appt">
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>